
    form{
        padding: 40px;
        font-size: 1.5em;
        font-family: "Lucida Console", "Courier New", monospace;
        color: black;
        border: 2px solid black;

    }

    p{
        font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    }

    tr{
        position: center;
        top: 10px;
        left: 8px;
        font-size: em;
        font-family: "Lucida Console", "Courier New", monospace;
        color: black;
        padding-left: 100px;
        padding: 60px;
        border-color: black;
        width: 10px;
    
    }
    
    table, th, td {
        border:1px solid black;
        padding-block-end: 5px;
      }