header{
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5em;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    background-color: black;
}

// a:link {
//   color: white;
//   background-color: transparent;
//   text-decoration: none;
// }

a:link{
background-color: grey;
text-emphasis-color: white;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: honeydew;
  display: inline-block;
}

.topnav-right {
    float: right;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
  }